body 
{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}

.header
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/hotel.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    color: #fafafa;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
}

.search-field
{
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    min-width: 200px;
    margin: 2px 0;
    outline: none;
}


.search-btn
{
    color: #fff;
    background: #5c6ac4 !important;
    padding-top: 8px;
    padding-bottom: 6px;
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    min-width: 120px;
    margin: 2px 0;
}

.form-box
{
    background: rgba(0,0,0,0.5);
    padding: 30px;
}

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}

