<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Apartmani</title>
	<link type="text/css" href="css/main.css" rel="stylesheet" />
	<link type="text/css" href="css/searchStyle.css" rel="stylesheet" />
	<link type="text/css" href="css/addApartmentStyle.css" rel="stylesheet" />
	<link type="text/css" href="css/toast.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


	<script src="js/toast.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	
  </head>
	<body>
		<!--Prikazuje se uvek-->
		<div id="app">
			<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a href="#" class="navbar-brand">Rezervacije<b>Apartmana</b></a>	
				
				<div class="navbar-nav action-buttons ml-auto" >
					<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-3" >Prijavi se</a>
					<div class="dropdown-menu login-form">
						<form id="login">
							<div class="form-group">
								<input type="text" class="form-control"  placeholder="Korisničko ime" required="required" name="korisnicko_ime" v-model="loginInformation.username">
							</div>
							<div class="form-group">                      
								<input type="password" class="form-control" placeholder="Lozinka" required="required" name="lozinka" v-model="loginInformation.password">
							</div>
							<input type="submit" class="search-btn" v-on:click="login(loginInformation)" value="Prijava">
						</form>					
					</div>	
					<a href="#/reg" class="btn btn-primary">Regustruj se</a>
				</div>
		</nav>
		</div>
			<router-view></router-view>
		</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	
	<script src="js/axios.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/vue-router.js"></script>
	<script src="app/search.js"></script>
	<script src="app/addApartment.js"></script> 
	<script src="app/app.js"></script>
	<script src="app/reg.js"></script>
	
  </body>
</html>